.btn {
    border-radius: 40px;
    border: 1px solid #db7359;
    text-decoration: none;
    padding: 8px 0;
    color: #db7359;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: $headers-font;
}

.btn:hover {
    background-color: #db7359;
    color: white;
}

.big-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.red {
    color: red;
    border-color: red;
}

.red:hover {
background-color: red;
color: white;
}

.display-btns {
    display: flex;
    justify-content: space-around;
}

.green {
    color: lightseagreen;
    border-color: lightseagreen;
    padding: 8px;
}

.green:hover {
background-color: lightseagreen;
color: white;
}

.pink {
    color: lightpink;
    border-color: lightpink;
    padding: 8px;
}

.pink:hover {
background-color: lightpink;
color: white;
}

.red-two {
    color: #ff5e4d;
    border-color: #ff5e4d;
    padding: 8px;
}

.red-two:hover {
background-color: #ff5e4d;
color: white;
}

.btn-back {
    width: 10%;
    position: absolute;
    bottom: 55px;
    right: 55px;
}