.btn {
    border-radius: 40px;
    border: 1px solid #db7359;
    text-decoration: none;
    padding: 8px 0;
    color: #db7359;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: $headers-font;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #db7359;
    color: white;
}

.big-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.red {
    color:#ff5e4d;
    border-color: #ff5e4ded;
}

.red:hover {
background-color: #ff5e4d;
color: white;
}

.display-btns {
    display: flex;
    justify-content: space-around;
}

.green {
    color: #189992;
    border-color: #189992;
    padding: 8px;
}

.green:hover {
background-color: #189992;
color: white;
}

.pink {
    color: #F2B42C;
    border-color: #F2B42C;
    padding: 8px;
}

.pink:hover {
background-color: #F2B42C;
color: white;
}

.red-two {
    color: #ff5e4d;
    border-color: #ff5e4d;
    padding: 8px;
}

.red-two:hover {
background-color: #ff5e4d;
color: white;
}

.btn-back {
    width: 10%;
    position: absolute;
    bottom: 30px;
    right: 55px;
}

.btn-add-creek{
    width: 50%;
}