<h1>Creeks</h1>

<% @creeks.each do |creek| %>
    <div class="card">
        <p class="title"><%= creek.title %></p>
        <p class="city"><%= creek.city %></p>
        <%= link_to "Show", creek_path(creek) %>
    </div>
<% end %>