<header>
    <a href="/">Creeks</a>
    <input type="text" placeholder="Search ..." id="search-bar">
    <nav>
        <ul>
            <li><%= link_to "Connect", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
        </ul>
    </nav>
</header>