<header>
    <nav>
        <ul>
            <li>Reservation</li>
            <li><%= link_to "My creeks", mycreeks_path %></li>
            <li><%= link_to "Disconnect", destroy_user_session_path, method: :delete %></li>
        </ul>
    </nav>
</header>
